.PortfolioPage{
 margin: 0 -15px;
 display: flex;
 justify-content: center;
 align-items: flex-start;
 flex-wrap: wrap;
 flex-direction: column;

   & > div{
      
      width: 25%;
      margin-bottom: 25px;
      @media screen and (max-width:600px) {
         width: 100%;
      }
    
   }
}