.section-about{
   color:white;
   margin: 0 auto;
   position: relative;
   padding: 120px 0;
   z-index: 0; 
   @media screen and (max-width:1179px){
      padding:0px 0;
   }
   .box-line-left{
   
      position: absolute;
      width: 300px;
      height: 200%;
      top:0px;
      left:0px;
      border:2px solid transparent;
      border-left-color:rgba(72,72,72,25%);
      border-right-color:rgba(72,72,72,25%);
      z-index: -1;
   }
   .box-line-right{
  
      position: absolute;
      width: 300px;
      height: 200%;
      top:0px;
      right:0px;
      border:2px solid transparent;
      border-left-color:rgba(72,72,72,25%);
      border-right-color:rgba(72,72,72,25%);
      z-index: -1;
   }


   

   &__header{
      padding:25px 0;
      margin-bottom: 80px;
     
   }
   
   &__title{
      color:white;
      font-size: 26px;
      line-height: 39px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      text-align: center;
      font-weight: 300;
   }
   &-content{
      z-index: 5;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      &__bg-text{
         position: absolute;
         left:-180px;
         top:-100px;
         font-weight: 500;
         font-size: 144px;
         line-height: 213px;
         letter-spacing: 0.145em;
         color: #333333;
         z-index: -1;
         @media screen and (max-width:1500px){
            left:-70px;
         }
         @media screen and (max-width:991px){
            font-size:80px;
            left:-30px;
         }
      }

      @media screen and (max-width:1179px){
         flex-wrap: wrap;
         &>div:nth-child(1){
            order: 2;
         }
         &>div:nth-child(2){
            order: 3;
            width: 100%;
         }
         &>div:nth-child(3){
            order: 1;
            flex-grow: 1;
            max-height: 200px;
            overflow: hidden;
            margin-bottom:25px;
         }
      }

      // &:before{
      //    content:"about";
      //    position: absolute;
      //    left:-180px;
      //    top:-100px;
      //    font-weight: 500;
      //    font-size: 144px;
      //    line-height: 213px;
      //    letter-spacing: 0.145em;
      //    color: #252525;
      //    z-index: -1;
      // }
      &-left,&-middle,&-right{
         width: 300px;
         margin: 0 auto;
         position: relative;
         height: 100%;
         @media screen and (max-width:1179px){
            width: auto;
         }
         
      }
      &-right{
         @media screen and (max-width:1179px){
            width: 100%;
         }
      }
      &-middle{
         width:350px;
         @media screen and (max-width:1179px){
            width: 100%;
         }
         h3{
            text-align: center;
            @media screen and (max-width:1179px){
               text-align: left;
               margin-top: 25px;
               height: 60px;
            }
         }
      }
      &__title{
         font-size:24px;
         font-weight: bold;
         height: 100px;
      }
      &__text{
         font-size: 14px;
         line-height: 21px;
         letter-spacing: 0.145em;
      }
      &-list{
         padding:0 15px;
         display: flex;
         justify-content: space-evenly;
         flex-wrap: wrap;
         align-items: center;
         @media screen and (max-width:1179px){
            justify-content: flex-start;
         }
      }
      &-image-wrapper{
         width: 100%;
         position: relative;
         padding-top:5px;
         img{
            width: 100%;
            @media screen and (max-width:1179px){
               transform: translateY(-10%);
            }
         }
      }
   }
}
