.contact-form{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-end;
   @media screen and (max-width:991px){
      flex-direction: column;
   }
   
   p{
      margin-bottom: 0px;
      
      height: 100%;
   }
   label{
      display: none;
   }
   &-details{
      display: flex;
      flex-direction: column;
      width: 50%;
     
      p{
         text-align: right;
         padding-right:60px;
      }
      &__message-state{
         position:absolute;
         bottom:-50px;
         width: 300px;
         right:0;
         text-align: center;
         right:0;
         color:white;
         background-color: #00C896;
         height: 35px!important;
         min-height: 35px;
         padding:5px 15px;
         border-radius: 8px;
         margin-top: 10px;
         
   
         &--send{
            @extend .contact-form-details__message-state;
            background-color: #00C896;
         
         }
         &--error{
            @extend .contact-form-details__message-state;
            background-color:red;
         
         }
      }
      @media screen and (max-width:991px){
         width: 100%;
         min-width: 400px;
         p{
            
            padding-right:0px;
         }
      }
      @media screen and (max-width:465px){
         min-width: 250px;
      }
      
   }
   &-message{
      width: 50%;
      @media screen and (max-width:991px){
         width: 100%;
      }
   }
   input{
      width: 300px;
      background-color: #272727;
      color:white;
      border: 1px solid transparent;
      border-radius: 10px;
      padding:10px 25px;
      transition: 0.3s ease;
      outline: none;
      &::placeholder{
         color:white;
      }
      &:active,&:focus{
         border-color:#00C896;
         outline: none;
      }
      @media screen and (max-width:991px){
         margin-bottom: 10px;
         width: 100%;
      }
   }
   
   
   textarea{
      width: 100%;
      background-color: #272727;
      color:white;
      border: 1px solid transparent;
      border-radius: 10px;
      padding:10px 25px;
      transition: 0.3s ease;
      outline: none;
      min-height: 110px;
      margin-bottom: 10px;
      &::placeholder{
         color:white;
      }
      &:active,&:focus{
         border-color:#00C896;
         outline: none;
      }
     
   }
   &-send{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      position: relative;
   }
   button{
      padding:7px 25px;
      border-radius: 25px;
      background-color: #00C896;
      color:white;
      text-transform: uppercase;
      border:none;
      font-size:14px;
      
   }
  
}

