.section-contact{
   padding:100px 0;  
   position: relative;
   z-index:1;
   @media screen and (max-width:500px){
      padding:60px 0;
   }
   .box-line-left{
    
      position: absolute;
      width: 300px;
      height: calc(100% + 50px);
      top:-50px;
      left:35px;
      border:2px solid transparent;
      border-left-color:rgba(72,72,72,25%);
      border-right-color:rgba(72,72,72,25%);
      z-index: -2;
   }
   .box-line-right{
 
      position: absolute;
      width: 300px;
      height: calc(100% + 50px);
      top:-50px;
      right:35px;
      border:2px solid transparent;
      border-left-color:rgba(72,72,72,25%);
      border-right-color:rgba(72,72,72,25%);
      z-index: -2;
   }

   &__header{
      padding:25px 0;
      margin-bottom: 80px;
      z-index: 1;
      position: relative;
      @media screen and (max-width:767px) {
         margin-bottom: 20px;
      }
      &__bg-text{
         position: absolute;
         right: 0px;
         top: -83px;
         font-weight: 500;
         font-size: 144px;
         line-height: 213px;
         letter-spacing:  0.125em;
         color: #333333;
         z-index: -1;
         
         @media screen and (max-width:600px) {
            font-size:80px;
         }
      }
      @media screen and (max-width:465px) {
            font-size:80px;
         }
      // &:after{
      //    content:"contact";
      //    position: absolute;
      //    right: 0px;
      //    top: -83px;
      //    font-weight: 500;
      //    font-size: 144px;
      //    line-height: 213px;
      //    letter-spacing: 0.125em;
      //    color: #252525;
      //    z-index: -1;
      // }
   }
   
   &__title{
      color:white;
      font-size: 26px;
      line-height: 39px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      text-align: center;
      font-weight: 300;
      z-index: 1;
      @media screen and (max-width:465px){
         font-size: 20px;
         line-height: 29px;
      }
   }
   &-content{
      display: flex;
      justify-content: space-evenly;
      z-index: 1;
     @media screen and (max-width:767px){
        flex-direction: column;
        
        &>div{
           margin-bottom: 10px;
        }
     }
   }
   &-bg{
      display:none;
      position: absolute;
      top:0px;
      left:0;
      z-index: 0;
      width: 100%;
      height: auto;
      opacity:0.00;
   }
}
