.header-wrapper{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   min-height: 100vh;
}
.header{
   color: #FFFFFF;
   display: flex;
   flex-direction: column;
   align-items: flex-end;

   h1{
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 71px;
   }
   h2{
  
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
   }
   a{
      display: inline-block;
      border-radius: 25px;
      padding:5px 25px;
      background-color: #00C896;
      margin-top: 30px;
      &:hover{
         color:white;
         text-decoration: none;
      }
   }
}